.newsletter {
	background-color: $color-white;
	margin: 0 auto 0 auto;
	width: 600px;

	&__content {
		&__excerpt {
			color: $color-gray-dark;
			font-size: 14px;
			line-height: 1.5;
		}

		&__tag {
			background-color: $color-gray-dark;
			border-radius: 10px;
			box-sizing: border-box;
			color: $color-white;
			display: block;
			font-size: 10px;
			font-weight: bold;
			line-height: 1;
			margin-bottom: 15px;
			padding: 5px 10px;
			text-transform: uppercase;
			width: max-content;
		}

		&__title {
			color: $color-cobalt;
			display: block;
			font-size: 20px;
			margin-bottom: 5px;
		}
	}

	&__footer {
		a {
			color: $color-gray-dark;
			text-decoration: underline;

			&.is-black {
				color: $color-black;
				text-decoration: none;
			}
		}

		td {
			font-size: 10px;
			line-height: 18px;
		}
	}

	&__img {
		&__intro {
			display: block;
			margin: 0 auto 60px;
		}
	}

	&__issue-number {
		color: $color-cobalt;
		font-weight: bolder;
	}

	&__outro {
		background: url('../assets/images/img-outro.png') center top no-repeat;
		color: $color-cobalt;
		font-weight: bolder;
		margin: 60px 0 15px;
		min-height: 325px;

		&__text {
			padding-left: 50%;
			padding-top: 10%;

			@media (max-width: $breakpoint-mobile) {
				padding-top: 22.5% !important;
			}

			a {
				text-decoration: underline;
			}
		}
	}

	&__section-title {
		color: $color-cobalt;
		display: block;
		font-size: 24px;
		font-weight: bolder;
		margin: 60px 0 45px;
	}

	&__social-link {
		background-position: center center;
		background-repeat: no-repeat;
		display: inline-block;
		font-size: 0;
		height: 30px;
		margin-left: 5px;
		width: 30px;

		@media (max-width: $breakpoint-mobile) {
			margin-left: 0 !important;
			margin-right: 5px;
		}
	}

	&__social-links {
		border-bottom: 5px solid $color-raspberry;

		span {
			color: $color-cobalt;
			font-weight: bolder;
			line-height: 30px;
		}
	}

	&__text {
		color: $color-gray-dark;
		font-size: 14px;
		line-height: 1.5;

		&.is-large {
			font-size: 16px;
		}
	}

	&__title {
		color: $color-cobalt;
		display: block;
		font-size: 24px;
		line-height: 1.25;
		margin: 60px auto;
		text-align: center;

		strong {
			display: block;
			font-size: 30px;
			font-weight: bolder;
		}
	}
}
