/* Background
   ========================================================================== */

/**
 * Utilities for controlling an element's background color.
 */

@each $color-key, $color-value in $colors {
	.has-bg-#{$color-key} {
		background-color: $color-value !important;
	}
}



/* Display
   ========================================================================== */

/**
 * Utilities for controlling the display box type of an element.
 */

.is-block {
	display: block !important;
}

.is-table {
	display: table !important;
}

.is-table-row {
	display: table-row !important;
}

.is-table-cell {
	display: table-cell !important;
}

.is-hidden {
	display: none !important;
}

@media (max-width: $breakpoint-mobile) {
	.is-block\:sm,
	.is-block\@sm,
	.is-block-sm {
		display: block !important;
	}

	.is-table\:sm,
	.is-table\@sm,
	.is-table-sm {
		display: table !important;
	}

	.is-table-row\:sm,
	.is-table-row\@sm,
	.is-table-row-sm {
		display: table-row !important;
	}

	.is-table-cell\:sm,
	.is-table-cell\@sm,
	.is-table-cell-sm {
		display: table-cell !important;
	}

	.is-hidden\:sm,
	.is-hidden\@sm,
	.is-hidden-sm {
		display: none !important;
	}
}



/* Typography
   ========================================================================== */

/**
 * Utilities for controlling the text color of an element.
 */

@each $color-key, $color-value in $colors {
	.has-text-#{$color-key} {
		color: $color-value !important;
	}
}

/**
 * Utilities for controlling the alignment of text.
 */

.has-text-left {
	text-align: left !important;
}

.has-text-center {
	text-align: center !important;
}

.has-text-right {
	text-align: right !important;
}

@media (max-width: $breakpoint-mobile) {
	.has-text-left\:sm,
	.has-text-left\@sm,
	.has-text-left-sm {
		text-align: left !important;
	}

	.has-text-center\:sm,
	.has-text-center\@sm,
	.has-text-center-sm {
		text-align: center !important;
	}

	.has-text-right\:sm,
	.has-text-right\@sm,
	.has-text-right-sm {
		text-align: right !important;
	}
}

/**
 * Utilities for controlling the style of text.
 */

.has-text-italic {
	font-style: italic !important;
}

.has-text-roman {
	font-style: normal !important;
}

.has-text-uppercase {
	text-transform: uppercase !important;
}



/* Spacing
   ========================================================================== */

/**
 * Utilities for controlling an element's padding.
 */

@each $spacer-key, $spacer-value in $spacers {
	@if $spacer-key != 'auto' {
		.p-#{$spacer-key} {
			padding-bottom: $spacer-value !important;
			padding-left: $spacer-value !important;
			padding-right: $spacer-value !important;
			padding-top: $spacer-value !important;
		}
	}

	@each $spacing-side-key, $spacing-side-value in $spacing-sides {
		@if $spacer-key != 'auto' {
			@if $spacing-side-key == 'horizontal' {
				.p#{$spacing-side-value}-#{$spacer-key} {
					padding-left: $spacer-value !important;
					padding-right: $spacer-value !important;
				}
			} @else if $spacing-side-key == 'vertical' {
				.p#{$spacing-side-value}-#{$spacer-key} {
					padding-bottom: $spacer-value !important;
					padding-top: $spacer-value !important;
				}
			} @else {
				.p#{$spacing-side-value}-#{$spacer-key} {
					padding-#{$spacing-side-key}: $spacer-value !important;
				}
			}
		}
	}
}

/**
 * Utilities for controlling an element's margin.
 */

@each $spacing-side-key, $spacing-side-value in $spacing-sides {
	@each $spacer-key, $spacer-value in $spacers {
		@if $spacing-side-key == 'horizontal' {
			.m#{$spacing-side-value}-#{$spacer-key} {
				margin-left: $spacer-value !important;
				margin-right: $spacer-value !important;
			}
		}
	}
}

@media (max-width: $breakpoint-mobile) {
	/**
	 * Utilities for controlling an element's padding.
	 */

	@each $spacer-key, $spacer-value in $spacers {
		@if $spacer-key != 'auto' {
			.p-#{$spacer-key}\:sm,
			.p-#{$spacer-key}\@sm,
			.p-#{$spacer-key}-sm {
				padding-bottom: $spacer-value !important;
				padding-left: $spacer-value !important;
				padding-right: $spacer-value !important;
				padding-top: $spacer-value !important;
			}
		}

		@each $spacing-side-key, $spacing-side-value in $spacing-sides {
			@if $spacer-key != 'auto' {
				@if $spacing-side-key == 'horizontal' {
					.p#{$spacing-side-value}-#{$spacer-key}\:sm,
					.p#{$spacing-side-value}-#{$spacer-key}\@sm,
					.p#{$spacing-side-value}-#{$spacer-key}-sm {
						padding-left: $spacer-value !important;
						padding-right: $spacer-value !important;
					}
				} @else {
					.p#{$spacing-side-value}-#{$spacer-key}\:sm,
					.p#{$spacing-side-value}-#{$spacer-key}\@sm,
					.p#{$spacing-side-value}-#{$spacer-key}-sm {
						padding-#{$spacing-side-key}: $spacer-value !important;
					}
				}
			}
		}
	}

	/**
	 * Utilities for controlling an element's margin.
	 */

	@each $spacing-side-key, $spacing-side-value in $spacing-sides {
		@each $spacer-key, $spacer-value in $spacers {
			@if $spacing-side-key == 'horizontal' {
				.m#{$spacing-side-value}-#{$spacer-key}\:sm,
				.m#{$spacing-side-value}-#{$spacer-key}\@sm,
				.m#{$spacing-side-value}-#{$spacer-key}-sm {
					margin-left: $spacer-value !important;
					margin-right: $spacer-value !important;
				}
			}
		}
	}
}
