html,
body {
	background: $page-background-color !important;
	font-family: $font-family-base !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	width: 100% !important;
}
